compiler/linux_x86/elf_host
compiler/linux_x86/optimize_host
compiler/macos_arm64/macho_host
compile_out.c
krypton.res
*.bak
*.res
*.obj
*.ilk
*.pdb
*.iobj
*.ipdb
*.pch
*.pgc
*.pgd
*.rsp
*.tlog
*.meta
*.exe
!bootstrap/*.exe
*.o
*.c
*.cpp
!bootstrap/kcc_seed.c
*.kir
*.ll
.claude/
_optimizer.exe
_llvmbe.exe
krypton.res
archive/
test_features.c
test_features.exe
test*.c
test*.exe
selfhost_err.txt
selfhost_out.txt
*.bak
test_simple.c
tiny_test.c
tiny_test.exe
versions/
build/
artifacts/
bin/
releases/
.vs/
!runtime/krypton_rt.dll
!runtime/ckrypton_gui.dll
!runtime/ckrypton_proc.dll
!runtime/ckrypton_fs.dll
*.obj
*.lib
*.txt
installer/
assets/
bootstrap/REBUILD_SEED.md
tests/.kcode_build/trash.c
tests/.kcode_build/trash.exe
desktop.ini
lsp/build.bat
lsp/test_extension.js
lsp/test_rle.js
runtime/krypton_rt_legacy.dll
lsp/test_kls.py
kompiler/.DS_Store
.DS_Store
releasenotes/RELEASE_NOTES_2.0_macos_arm64.md
