1 ICON "krypton.ico"

#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    0,4,0,0
PRODUCTVERSION 0,4,0,0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      0
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Krypton"
            VALUE "FileDescription",  "Krypton Compiler"
            VALUE "FileVersion",      "0.4.0"
            VALUE "InternalName",     "kcc"
            VALUE "OriginalFilename", "kcc.exe"
            VALUE "ProductName",      "kcc"
            VALUE "ProductVersion",   "0.4.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END
